
.button { 
  background: $section-steel;
}

.badge {
  color: $font-primary;
  font-size: 8em;
  padding: 2%;
}

.badge-white {
  @extend .badge;

  color: $section-white;
}

.background-image {
  position: fixed;
  opacity: 0.25;
  left: 10em;
  right: 10em;
  top: 0em;
  bottom: 3em;
  // margin: 1% 0;
}

.vertical {
  height: 60em;
  width: 40em;
}

.credit-box {
  position: relative;
  float: right;
  border: 0.1em solid $section-white;
  height: 1.2em;
  width: 12em;
  bottom: -15em;
  right: 15em;
  padding: 0 1% 3% 1%;
  text-align: center;

  a {
    color: $section-steel;
    text-decoration: none;
  }
}

.link {
  border: 0.3em dotted $section-steel;
  color: black;
  padding: 1%;
  text-decoration: none;

  &:hover {
  background-color: $section-steel; 
  border: 0.3em dotted $section-turq;
  color: red; 
  }
}

.slide {
  background: $section-grey;
  border: 2em solid $section-steel;
  height: 100vh;
  text-align: center;
  width: 50vw !important;
}

.slider {
  img {
      border: 2em solid $section-steel;
      height: 90vh;
      width: 60vw !important;
  }
}

.social-media-badge {
  color: $section-grey;
  font-size: 3em;
  padding: 0 12%;

  &:hover {
    color: $section-white
  }
}