
.button { 
  background: $section-steel;
}

.badge {
  color: $font-primary;
  font-size: 8em;
  padding: 2%;
}

.badge-white {
  @extend .badge;

  color: $section-white;
}

.social-media-badge {
  color: $section-grey;
  font-size: 3em;
  padding: 0 12%;

  &:hover {
    color: $section-white
  }
}