// Fonts
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);


$raleway-stack: 'Raleway', Helvetica, sans-serif;


// Colors

$section-steel: #8FB7D6;    
$section-white: #FFFFFF;
$section-turq:  #519E8A;
$section-grey:  #808F85;
$section-black: #0F1108;

// Font Colors

$primary-font: #333;

// Background Colors

