// bower:scss
// endbower

@import '_variables';
@import '_helpers';
@import '_components';
@import '_sections';
@import '../../bower_components/devicons/css/devicons';


body {
  color: $font-primary;
  font-family: $raleway-stack
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
