.section {
  padding: 5%;
  width: 90%;

  h1 {
    text-align: left;
  }
}

.social-media {
  background-color: $section-steel;
  border-radius: 200px;
  margin: 3% 0;
  padding: 1%;
  text-align: center;
}